---
export interface Props {
    name: string;
    year: number;
    price: string;
    image: string;
}

const { name, year, price, image } = Astro.props;
---

<div class="card shadow-lg bg-base-100  border-2 rounded-3xl border-gray-500">
    <figure>
        <img src={image} alt={name} class="w-full h-48 object-cover" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">{name}</h2>
        <p>Year: {year}</p>
        <p>Price: {price}</p>
        <div class="card-actions justify-start">
            <button class="btn btn-primary">Rent</button>
        </div>
    </div>
</div>
